body {
  background-color: #F5f5f2;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* Everything */
body {
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(#87d0db 0%,  white 50%, white 50%,#87d0db 100%);
}
/* NavBar */
.navbar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin: 40px 0px;
  flex-wrap: wrap;
}
.navbar ul li {
  font-size: 1rem; 
  font-weight: bold;
  background-color: rgba(226, 194, 149, 0.435);
}

.links {
  display: flex;
  justify-content: center; 
  list-style: none;
}

.links img {
  height: 45px;
  box-shadow: 1px 1px black;
}

.links li {
  margin: 10px
}
.navbar ul li a {
  text-decoration: none;
  color: black;
  padding: 8px 25px;
}
.navbar ul li a:hover {
  color: rgb(0, 170, 249);
  text-decoration: underline;
  cursor: pointer;
}

/* Every Page */
/* Title */
.company-title {
  font-family: 'Signika Negative', sans-serif;
  margin: auto;
  text-decoration: none;
  color: black;
  font-size: 2.5em;
  font-weight: bold;
}
.company-title:hover {
  cursor: pointer;
}
/* Header */
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.title-cont {
  display: flex;
  width: 30%;
  justify-content: center;
  padding: 10px 0 10px 30px;
}
.nav-cont {
  font-family: 'Signika Negative', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  justify-content: left;
  padding: 10px 50px 10px 0;
}
/* Home Page */
.home-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: linear-gradient(#82b087 0%, #82b08780 100%);

}
.home-top img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.212);
}
.hometop-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 30px 50px 30px 70px;
}
.hometop-info p {
  color: white;
}
.hometop-info p2 { 
  color: black;
  margin: auto;
  padding-top: 5px;
}
.hometop-info span {
  font-weight: bold;
  padding-left: 5px;
  font-family: 'Secular One', sans-serif;
  font-size: 1em;
}
.hometop-info span:hover {
  color: rgb(0, 170, 249);
  text-decoration: underline;
  cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
.hometop-info a {
  font-family: 'Secular One', sans-serif;
  text-decoration: none;
  color: black;
  margin: 5px auto 5px auto;
  font-size: 1.3em;
  cursor: pointer;
}
.hometop-info a:hover {
  text-decoration: underline;
  color: rgb(0, 170, 249);
}
.hometop-img {
  display: flex;
  width: 50%;
  justify-content: right;
  margin: auto;
  padding: 30px 70px 30px 50px;
}
.home-mid {
  display: flex;
  width: 100%;
  border-radius: 15px;
  background:linear-gradient(rgba(226, 194, 149, 0.474) 0%, rgb(226, 194, 149) 100%);
}
.homemid-info1 {
  display: flex;
  width: 50%;
  padding: 30px 70px 30px 50px;
}
.homemid-info2 {
  display: flex;
  width: 50%;
  padding: 30px 50px 30px 70px;
}
.home-bot {
  display: flex;
  width: 100%;
  background-color: rgb(226, 194, 149);
}
.homebot-info1 {
  display: flex;
  width: 50%;
  padding: 30px 50px 30px 30px;
}
.homebot-info2 {
  display: flex;
  width: 50%;
  padding: 30px 30px 30px 50px;
}
/* Sign Up Page */
.reg {
  display: flex;
  flex-direction: column;
}
.regtop {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: linear-gradient(#82b087 0%, #82b08741 100%);
}
.regtop-img {
  display: flex;
  width: 50%;
  margin: auto;
}
.regtop-img img{
  width: 80%;
  border-radius: 15px;
  margin: 30px 50px 30px 70px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.212);
}
.regtop-info {
  width: 50%;
  padding: 30px 150px 30px 130px;
  display: flex;
  flex-direction: column;
}
.regtop-info p {
  color: white;
}
.regtop-info a {
  text-decoration: none;
  color: black;
  margin: auto;
  font-weight: bold;
}
.regtop-info a:hover {
  text-decoration: underline;
  color: rgb(0, 170, 249);
  cursor: pointer;
}
.reg-a {
  display: flex;
  flex-direction: column;
  font-family: 'Secular One', sans-serif;
  font-size: 1.3em;
  font-weight: lighter;
}
.regbot-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  background:linear-gradient(rgba(226, 194, 149, 0.474) 0%, rgb(226, 194, 149) 100%);
}
.regbot-info2 {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.add {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.add h2 {
  text-align: center;
  margin: 20px 0 40px 0;
}
.addinputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
  margin: auto;
}
.addinput {
  padding: 5px 10px 5px 0;
}
.addinput label {
  font-weight: bold;
}
.addservices {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  width: 60%;
  margin: auto;
}
.addservicesinput {
  padding-left: 50px;
}
.addservicesinput label {
  font-weight: bold;
}
.reg input {
  display: flex;
}
#addage input {
  width: 40px;
}
#addaddress input {
  width: 400px;
}
/* Workers Page */
.workers {
  display: flex;
  flex-direction: column;
}
.workerstop {
  display: flex;
  padding: 30px;
  background: linear-gradient(#82b087 0%, #82b08741 100%);
  flex-direction: column;
}
.workerstop p {
  color: white;
}
.workersinfo {
  display: flex;
  flex-direction: column;
}
.workerinfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(226, 194, 149);
}
.workerinfoinfo {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 30px 80px 30px 100px;
  padding: 25px 25px 25px 25px;
  background:linear-gradient(rgb(239, 248, 239) 0%, rgba(239, 248, 239, 0.431) 100%);
  border-radius: 15px;
  flex-wrap: wrap;
  line-height: 1px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.212);
}
.workerinfoinfo button {
  width: 50px;
}
.workerinfoimage {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.workerinfoimage img {
  max-width: 80%;
  margin: auto;
  margin: 30px 50px 30px 30px;
  border-radius: 15px;
  border: 3px solid black;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.212);
}
.workereditinfo {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 30px 30px 30px 50px;
  flex-wrap: wrap;
}
.workereditbtn {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto;
}
.workereditbtn button {
  width: 60px;
  margin: 5px;
}
/* Members Page */
.members {
  display: flex;
  flex-direction: column;
}
.memberstop {
  display: flex;
  padding: 30px;
  background: linear-gradient(#82b087 0%, #82b08741 100%);
}
.memberstop p {
  color: white;
}
.membersinfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(226, 194, 149);
}
.membersinfoinfo {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 30px 80px 30px 100px;
  padding: 25px 25px 25px 25px;
  background:linear-gradient(rgb(239, 248, 239) 0%, rgba(239, 248, 239, 0.431) 100%);
  border-radius: 15px;
  flex-wrap: wrap;
  line-height: 1px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.212);
}
.membersinfoinfo button {
  width: 50px;
}
.membersinfoimage {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: auto;
}
.membersinfoimage img {
  max-width: 80%;
  margin: auto;
  margin: 30px 50px 30px 30px;
  border-radius: 15px;
  border: 3px solid black;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.212);
}
.memberseditinfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 30px 30px 30px 50px;
  flex-wrap: wrap;
}
.memberseditinfo {
  font-weight: 600;
}
.memberseditbtn {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto;
}
.memberseditbtn button {
  width: 60px;
  margin: 5px;
}
.servicesinfo p {
  font-weight: bold;
}
.servicesinfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 70px 30px 30px 0;
}
.editmembersform {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.membersinfo form {
  width: 100%;
}
.checkbox {
  padding-left: 20px;
}


@media(max-width: 768px){
  /* Header */
  .header {
    flex-direction: column;
  }
  .title-cont {
    width: 100%;
    justify-content: center;
    padding: 0;
  }
  .title-cont a {
    padding-top: 20px;
  }
  .nav-cont {
    width: 100%;
    justify-content: center;
    padding: 0;
  }
  /* Home Page */
  .home-top {
    flex-direction: column-reverse;
    width: 100%;
    margin: 0;
  }
  .hometop-info {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
    background-color: rgb(236, 236, 249);
  }
  .hometop-info a {
    color: black;
    font-size: 1.5em;
  }
  .hometop-info a:hover {
    color: rgb(0, 170, 249);
  }
  .hometop-info p {
    padding: 30px;
    color: black;
  }
  .hometop-info span:hover {
    color: rgb(0, 170, 249);
  }
  .hometop-info p2 {
    padding: 30px;
    color: black;
    
  }
  .hometop-img {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .hometop-img img {
    width: 60%;
    margin: 30px;
    border: 5px solid black;
  }
  /* reg Page */
  .regtop {
    flex-direction: column;
  }
  .regtop-img {
    width: 100%;
    margin: 0;
    justify-content: center;
  }
  .regtop-img img {
    width: 60%;
    border: 5px solid black;
  }
  .regtop-info {
    display: flex;
    width: 91%;
    padding: 30px;
    background-color: rgb(236, 236, 249);
  }
  .regtop-info p {
    color: rgb(255, 255, 255);
  }
  .regtop-info a {
    color: black;
    font-size: 1.5em;
  }
  .reg-a {
    margin-bottom: 50px;
  }
  .regtop-info a:hover {
    color: rgb(0, 170, 249);
  }
  .addinputs {
    flex-direction: column;
  }
}

#map {
  height: 100%;
}

@media(min-width: 1200px){
  body{
    width: 1200px;
    margin: auto;
  }

}

h3 {
  text-align: center;
  font-family: 'Signika Negative', sans-serif;
}

h2 {
  font-family: 'Secular One', sans-serif;
  font-weight: lighter;
}

.hours {
  list-style: none;
  margin: auto;
}

h4 {
  text-align: center;
  font-weight: lighter;
}
.workersinfo h4 {
  font-weight: bold;
}
.membersinfo h4 {
  font-weight: bold;
}
.home-mid {
  
  width: 100%;
  margin: 0;
}
.mid-img {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  height: 100%;
}
.mid-img img {
  width: 100%;
  height: 70%;
  margin: 30px;
  display: flex;
}

  /* Members Page */
  .memberstop {
    border-radius: 15px;
    flex-direction: column;
  }

.bluetop {
  color: black;
}
.homelink {
  text-align: center;
}
.logbox {
  background: linear-gradient(#82b087 0%,  rgb(226, 194, 149) 50%, rgb(226, 194, 149) 50%,#82b087 100%);
  height: 700px;
  display:flex;
  margin-top: 15px;
}
.loginpage {
  background: linear-gradient(#82b087 0%, transparent 100%);
  border-color: rgb(0, 0, 0);
  border-style: double;
  height: 400px;
  width: 350px;
  margin: 10px auto;
  text-align: center;
  margin-top: 130px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.278);
}

.log {
  margin:25px;
}

.log a{
  padding: 15px;
  font-size: 20px;
}

.log a:hover{
  color: rgb(0, 170, 249);
  cursor: pointer;
  text-decoration: underline;
}

.loginbttn{
  padding: 5px;
  font-size: 20px;
}

.footer {
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: black;
  font-family: 'Signika Negative', sans-serif;
}

.footer a:hover {
  color:#82b087;
}
@keyframes slideInRight {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.quote {
  font-size: 2em;
}
