.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
/* Everything */
body {
  font-family: 'Nunito', sans-serif;
}
/* NavBar */
.navbar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin: 40px 0px;
}
.navbar ul li {
  font-size: 1rem; 
  font-weight: bold; 
}
.navbar ul li a {
  text-decoration: none;
  color: black;
  padding: 8px 25px;
}
.navbar ul li a:hover {
  color: rgb(108, 182, 242);
  text-decoration: underline;
  cursor: pointer;
}
/* Every Page */
/* Title */
.company-title {
  margin: auto;
  padding: 10px;
}
/* Header */
.header {
  display: flex;
  flex-direction: row;
  height: 120px;
}
.title-cont {
  display: flex;
  width: 30%;
  justify-content: center;
}
.nav-cont {
  display: flex;
  width: 70%;
  justify-content: left;
}
/* Home Page */
.home-top {
  display: flex;
  width: 100%;
  background-color: rgb(45, 153, 241);
}
.home-top img {
  width: 100%;
  border-radius: 15px;
}
.top-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 30px 30px 30px 50px;
}
.top-info p {
  color: white;
}
.top-info p2 { 
  color: white;
  margin: auto;
}
.top-info span {
  font-weight: bold;
  padding-left: 5px;
}
.top-info span:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
.top-info a {
  text-decoration: none;
  color: white;
  margin: 5px auto 5px auto;
  font-weight: bold;
  cursor: pointer;
}
.top-info a:hover {
  text-decoration: underline;
  color: black;
}
.top-img {
  display: flex;
  width: 50%;
  justify-content: right;
  padding: 30px 50px 30px 30px;
}
.home-mid {
  display: flex;
  width: 100%;
  background-color: white;
}
.mid-info1 {
  display: flex;
  width: 50%;
  padding: 30px 50px 30px 30px;
}
.mid-info2 {
  display: flex;
  width: 50%;
  padding: 30px 30px 30px 50px;
}
.home-bot {
  display: flex;
  width: 100%;
  background-color: rgb(236, 236, 249);
}
.bot-info1 {
  display: flex;
  width: 50%;
  padding: 30px 50px 30px 30px;
}
.bot-info2 {
  display: flex;
  width: 50%;
  padding: 30px 30px 30px 50px;
}


@media(max-width: 768px){

}
@media(min-width: 1200px){
  body{
    width: 1200px;
    margin: auto;
  }
}